---
import { cn } from '@/lib/utils';
import Logo from '../Logo.astro';

interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<header
  id="landing-page-header"
  class={cn('fixed top-0 z-50 w-full bg-transparent duration-300', className)}
>
  <div class="mx-auto flex max-w-6xl items-center justify-between gap-4 p-4">
    <a href="/">
      <Logo style="w-10" loading="eager" />
    </a>
    <slot />
  </div>
</header>
