---
import { cn } from "@/lib/utils";

interface Props {
  h1: string;
  p?: string;
  parentClass?: string;
  ctaDivClass?: string;
  h1andpParentClass?: string;
  h1Class?: string;
  pClass?: string;
  withCta?: boolean;
  alignment?: "center-only" | "reverse" | "default" | "left-only";
}
const {
  h1,
  p,
  parentClass,
  ctaDivClass,
  h1andpParentClass,
  h1Class,
  pClass,
  withCta,
  alignment = "default",
} = Astro.props;
---

{
  withCta ? (
    <div class={cn("", parentClass)}>
      <div class={cn("space-y-2", h1andpParentClass)}>
        <h1
          class={cn(
            "font-bold text-4xl md:text-6xl lg:text-6xl text-primary leading-tight z-20 relative",
            alignment === "default" && "text-center lg:text-left",
            alignment === "center-only" && "text-center",
            alignment === "reverse" && "lg:text-center text-left",
            alignment === "left-only" && "text-left",
            h1Class,
          )}
        >
          {h1}
        </h1>
        {p ? (
          <p class={cn("text-muted-foreground z-20 relative", pClass)}>{p}</p>
        ) : null}
      </div>
      <div
        class={cn(
          "my-6 w-fit",
          alignment === "default" && "not-lg:mx-auto",
          alignment === "center-only" && "mx-auto",
          alignment === "reverse" && "lg:mx-auto",
          alignment === "left-only" && "ml-0 mr-auto",

          ctaDivClass,
        )}
      >
        <slot />
      </div>
    </div>
  ) : (
    <div class={cn("space-y-2", h1andpParentClass)}>
      <h1
        class={cn(
          "font-bold text-4xl md:text-6xl lg:text-6xl text-primary leading-tight z-20 relative",
          alignment === "default" && "text-center lg:text-left",
          alignment === "center-only" && "text-center",
          alignment === "reverse" && "lg:text-center text-left",
          alignment === "left-only" && "text-left",
          h1Class,
        )}
      >
        {h1}
      </h1>
      {p ? (
        <p class={cn("text-muted-foreground z-20 relative", pClass)}>{p}</p>
      ) : null}
    </div>
  )
}
