---
import DesktopNavigation from "@/components/DesktopNavigation";
import Header from "@/components/syntax/Header.astro";
import MobileNavigation from "@/components/MobileNavigation";
import MainLayout from "@/layouts/MainLayout.astro";
import aboutUsBg from "@/images/about-us-bg.jpg";
import { Image } from "astro:assets";
import { User } from "lucide-react";
import History from "@/components/History";
import SectionMainHero from "@/components/syntax/sections/SectionMainHero.astro";
import SectionMainHeroOverlay from "@/components/syntax/sections/SectionMainHeroOverlay.astro";
import H1AndP from "@/components/syntax/hAndP/H1AndP.astro";
import H2AndP from "@/components/syntax/hAndP/H2AndP.astro";
import CTAButton from "@/components/CTAButton";
import { InfiniteMovingCards } from "@/components/ui/infinite-moving-cards";
import { CERTS_INFO } from "@/lib/certs-info";
---

<MainLayout
  title="About Santienz Philippines Inc. | No.1 Polyurethane Mortar Flooring in the Philippines since 1998"
  desc="Over the years, we have successfully completed more than 1 million square meters of installations across the Philippines, demonstrating our commitment to quality, innovation, and nationwide service."
>
  <Header className="text-primary-foreground">
    <DesktopNavigation hideAboutUs client:load />
    <MobileNavigation hideAboutUs client:load />
  </Header>
  <SectionMainHero>
    <H1AndP
      h="About Us"
      p="Over the years, we have successfully completed more than 1 million square meters of installations across the Philippines, demonstrating our commitment to quality, innovation, and nationwide service."
      pClassName="text-justify indent-8"
    />

    <div class="max-w-6xl mx-auto w-fit">
      <CTAButton
        className="drop-shadow-[0_4px_8px_var(--tertiary)] px-12 z-20 border-tertiary text-primary-foreground bg-tertiary/10  hover:bg-tertiary/20 hover:text-primary-foreground  w-full"
        variant="outline"
        effect="shineHover"
        link="/projects"
      >
        See All Projects
      </CTAButton>
    </div>
    <SectionMainHeroOverlay>
      <Image
        src={aboutUsBg}
        alt="About Us Background"
        class="absolute inset-0 w-full h-full object-cover blur-xs"
      />
    </SectionMainHeroOverlay>
  </SectionMainHero>

  <!-- History -->
  <section class="space-y-4 px-4 max-w-6xl mx-auto not-xmd:-mt-10">
    <h2 class="font-bold text-4xl text-primary text-left xmd:text-center">
      History
    </h2>
    <div>
      <History />
    </div>

    <!-- <div class="text-muted-foreground space-y-4 text-left">
      <p class="indent-8">
        Creative Analysis Sdn. Bhd was able to come up exactly with the same
        products (using RinolCrete formulation and specifications) with that
        RinolCrete Floor Systems with the same quality and standard.
      </p>
      <p class="indent-8">
        In addition, Santienz Philippines, Inc. has forged a business
        partnership with UCRETE by BASF Constructions Chemicals Singapore Pte.
        Ltd. to further enhance the supply of products and render better service
        to clients.
      </p>
    </div> -->
  </section>

  <!-- Our Commitment-->
  <section class="mx-auto max-w-6xl space-y-2 px-4 text-left xmd:text-center">
    <h2 class="font-bold text-4xl text-primary">Our Commitment</h2>
    <p class="text-muted-foreground text-justify indent-8">
      To continually provide the local construction and manufacturing industry
      with the latest advances in engineering methods, specifically in concrete
      floor repair, renovation and floor, roof protection systems.
    </p>
    <br />
    <p class="text-muted-foreground text-justify indent-8">
      Truly, with our long line of advance technology products, which have
      gained popular acceptance among maintenance and construction engineer,
      Santienz Philippines, Inc. id destined to be a "household" name.
    </p>
    <br />

    <p class="text-muted-foreground text-justify indent-8">
      Our company would like to come to you as a solution to your flooring and
      roofing problems.
    </p>
    <br />

    <p class="text-muted-foreground text-justify indent-8">
      On this premise will Santienz Philippines, Inc. serve its Philippine
      partners towards progressive industrialization.
    </p>
  </section>

  <!-- Meet The Team -->
  <section class="space-y-4">
    <H2AndP
      h="Meet The Team"
      p="Our experienced leadership team brings together decades of construction expertise, innovative thinking, and unwavering commitment to excellence."
      pClassName="indent-8 text-justify"
    />
    <div class="max-w-6xl mx-auto px-1 xmd:px-4 space-y-8">
      <section class="space-y-4">
        <h3 class="text-primary font-semibold text-xl text-center">
          Directors
        </h3>
        <div
          class="grid grid-cols-2 xmd:grid-cols-3 not-xmd:grid-rows-2 gap-1 xmd:gap-4 h-fit"
        >
          <div
            class="bg-primary/10 rounded-xl p-3 xmd:p-4 flex flex-col items-center gap-4 xmd:aspect-square not-xmd:col-span-2 not-xmd:row-span-2"
          >
            <div class="bg-primary rounded-full p-4">
              <User className="text-primary-foreground size-24 " />
            </div>
            <div class="text-center space-y-2">
              <p class="text-xl font-semibold text-primary text-center">
                Sample Name
              </p>
              <p class="rounded-full font-semibold text-tertiary">CEO</p>
            </div>
            <p class="text-muted-foreground text-center">
              With over 25 years of industry experience, our CEO leads Santienz
              Philippines Inc. with a passion for innovation and a commitment to
              delivering the highest quality flooring solutions.
            </p>
          </div>
          <div
            class="bg-primary/10 rounded-xl p-3 xmd:p-4 flex flex-col items-center gap-4 xmd:aspect-square not-sm:col-span-2"
          >
            <div class="bg-primary rounded-full p-4">
              <User className="text-primary-foreground size-24 " />
            </div>
            <div class="text-center space-y-2">
              <p class="text-xl font-semibold text-primary text-center">
                Sample Name
              </p>
              <p class="rounded-full font-semibold text-tertiary">CEO</p>
            </div>
            <p class="text-muted-foreground text-center">
              With over 25 years of industry experience, our CEO leads Santienz
              Philippines Inc. with a passion for innovation and a commitment to
              delivering the highest quality flooring solutions.
            </p>
          </div>
          <div
            class="bg-primary/10 rounded-xl p-3 xmd:p-4 flex flex-col items-center gap-4 xmd:aspect-square not-sm:col-span-2"
          >
            <div class="bg-primary rounded-full p-4">
              <User className="text-primary-foreground size-24 " />
            </div>
            <div class="text-center space-y-2">
              <p class="text-xl font-semibold text-primary text-center">
                Sample Name
              </p>
              <p class="rounded-full font-semibold text-tertiary">CEO</p>
            </div>
            <p class="text-muted-foreground text-center">
              With over 25 years of industry experience, our CEO leads Santienz
              Philippines Inc. with a passion for innovation and a commitment to
              delivering the highest quality flooring solutions.
            </p>
          </div>
        </div>
      </section>
      <section class="space-y-4">
        <h3 class="text-primary font-semibold text-xl text-center">
          Department Heads
        </h3>
        <div
          class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-1 xmd:gap-4 h-fit"
        >
          <div
            class="bg-primary/10 rounded-xl p-3 xmd:p-4 flex flex-col items-center gap-4 xmd:aspect-square"
          >
            <div class="bg-primary rounded-full p-4">
              <User className="text-primary-foreground size-24 " />
            </div>
            <div class="text-center space-y-2">
              <p class="text-xl font-semibold text-primary text-center">
                Sample Name
              </p>
              <p class="rounded-full font-semibold text-tertiary">IT</p>
            </div>
            <p class="text-muted-foreground text-center">
              With over 25 years of industry experience, our CEO leads Santienz
              Philippines Inc. with a passion for innovation and a commitment to
              delivering the highest quality flooring solutions.
            </p>
          </div>
          <div
            class="bg-primary/10 rounded-xl p-3 xmd:p-4 flex flex-col items-center gap-4 xmd:aspect-square"
          >
            <div class="bg-primary rounded-full p-4">
              <User className="text-primary-foreground size-24 " />
            </div>
            <div class="text-center space-y-2">
              <p class="text-xl font-semibold text-primary text-center">
                Sample Name
              </p>
              <p class="rounded-full font-semibold text-tertiary">Sales</p>
            </div>
            <p class="text-muted-foreground text-center">
              With over 25 years of industry experience, our CEO leads Santienz
              Philippines Inc. with a passion for innovation and a commitment to
              delivering the highest quality flooring solutions.
            </p>
          </div>
          <div
            class="bg-primary/10 rounded-xl p-3 xmd:p-4 flex flex-col items-center gap-4 xmd:aspect-square"
          >
            <div class="bg-primary rounded-full p-4">
              <User className="text-primary-foreground size-24 " />
            </div>
            <div class="text-center space-y-2">
              <p class="text-xl font-semibold text-primary text-center">
                Sample Name
              </p>
              <p class="rounded-full font-semibold text-tertiary">Marketing</p>
            </div>
            <p class="text-muted-foreground text-center">
              With over 25 years of industry experience, our CEO leads Santienz
              Philippines Inc. with a passion for innovation and a commitment to
              delivering the highest quality flooring solutions.
            </p>
          </div>
          <div
            class="bg-primary/10 rounded-xl p-3 xmd:p-4 flex flex-col items-center gap-4 xmd:aspect-square"
          >
            <div class="bg-primary rounded-full p-4">
              <User className="text-primary-foreground size-24 " />
            </div>
            <div class="text-center space-y-2">
              <p class="text-xl font-semibold text-primary text-center">
                Sample Name
              </p>
              <p class="rounded-full font-semibold text-tertiary">Hardware</p>
            </div>
            <p class="text-muted-foreground text-center">
              With over 25 years of industry experience, our CEO leads Santienz
              Philippines Inc. with a passion for innovation and a commitment to
              delivering the highest quality flooring solutions.
            </p>
          </div>
        </div>
      </section>
      <!-- <section class="space-y-4">
        <h3 class="text-primary font-semibold text-xl text-center">
          Our Team by the Numbers
        </h3>
        <div class="grid gap-1 xmd:gap-4 grid-cols-2 md:grid-cols-4">
          <div
            class="flex flex-col gap-2 z-20 bg-primary/10 p-3 xmd:p-4 rounded-xl"
          >
            <div class="text-3xl md:text-6xl font-bold text-primary">50+</div>
            <div class="text-muted-foreground">Staffs</div>
          </div>
          <div
            class="flex flex-col gap-2 z-20 bg-primary/10 p-3 xmd:p-4 rounded-xl"
          >
            <div class="text-3xl md:text-6xl font-bold text-primary">20+</div>
            <div class="text-muted-foreground">Years of Experience</div>
          </div>
          <div
            class="flex flex-col gap-2 z-20 bg-primary/10 p-3 xmd:p-4 rounded-xl"
          >
            <div class="text-3xl md:text-6xl font-bold text-primary">100+</div>
            <div class="text-muted-foreground">Projects Completed</div>
          </div>
          <div
            class="flex flex-col gap-2 z-20 bg-primary/10 p-3 xmd:p-4 rounded-xl"
          >
            <div class="text-3xl md:text-6xl font-bold text-primary">60+</div>
            <div class="text-muted-foreground">Statisfied Clients</div>
          </div>
        </div>
      </section> -->
    </div>
  </section>

  <section class="space-y-4 not-xmd:mb-1">
    <H2AndP
      h="Certificates"
      p="Our certifications reflect our dedication to delivering reliable flooring solutions and maintaining the highest standards in every project we undertake."
      pClassName="indent-8 text-justify"
    />
    <div class="max-w-6xl mx-auto px-1 xmd:px-4">
      <InfiniteMovingCards
        client:load
        items={CERTS_INFO.map((cert) => ({ ...cert, img: cert.img.src }))}
      />
    </div>
  </section>
</MainLayout>
