---
import Header from "@/components/syntax/Header.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";
import brochurePage1 from "@/images/brochure/1.jpg";
import brochurePage2 from "@/images/brochure/2.jpg";
import { EnhancedButton } from "@/components/EnhancedButton";
import DesktopNavigation from "@/components/DesktopNavigation";
import MobileNavigation from "@/components/MobileNavigation";
import SectionMainHero from "@/components/syntax/sections/SectionMainHero.astro";
import H1AndP from "@/components/syntax/hAndP/H1AndP.astro";
import SectionMainHeroOverlay from "@/components/syntax/sections/SectionMainHeroOverlay.astro";
import Grid3DBg from "@/components/Grid3DBg.astro";
---

<MainLayout
  title="Brochure Santienz Philippines Inc. | No.1 Polyurethane Mortar Flooring in the Philippines since 1998"
  desc="Learn more about Santienz's polyurethane mortar flooring solutions. Download our brochure for details."
>
  <Header className="text-primary-foreground">
    <DesktopNavigation hideBrochure client:load />
    <MobileNavigation hideBrochure client:load />
  </Header>
  <SectionMainHero>
    <H1AndP
      h="Brochure"
      p="Learn more about Santienz's polyurethane mortar flooring solutions. Download our brochure for details."
    />
    <SectionMainHeroOverlay>
      <Grid3DBg />
    </SectionMainHeroOverlay>
  </SectionMainHero>

  <section
    class="flex flex-col items-center justify-center gap-8 -mt-15 md:-mt-10"
  >
    <div class="max-w-6xl grid md:grid-cols-2 gap-1 md:px-4">
      <Image
        src={brochurePage1}
        alt="Santienz Brochure Page 1"
        class="md:rounded-l-xl"
      />
      <Image
        src={brochurePage2}
        alt="Santienz Brochure Page 2"
        class="md:rounded-r-xl"
      />
    </div>
    <a href="santienz-brochure.pdf" target="_blank">
      <EnhancedButton effect="shineHover" variant="tertiary"
        >Download</EnhancedButton
      >
    </a>
  </section>
</MainLayout>
