---
import { Image } from "astro:assets";
import DesktopNavigation from "@/components/DesktopNavigation";
import { EnhancedButton } from "@/components/EnhancedButton";
import MobileNavigation from "@/components/MobileNavigation";
import Header from "@/components/syntax/Header.astro";
import CTAButton from "@/components/CTAButton";
import brochurePage1 from "@/images/brochure/1.webp";
import brochurePage2 from "@/images/brochure/2.webp";
import MainLayout from "@/layouts/MainLayout.astro";
import LinearGradientMask from "@/components/LinearGradientMask.astro";
import { Download } from "lucide-react";
import Heading1AndP from "@/components/syntax/Heading1AndP.astro";
---

<MainLayout
  title="Brochure of Santienz Phils. Inc."
  desc="Learn more about Santienz's polyurethane mortar flooring solutions. Download our brochure for details."
>
  <Header className="text-primary backdrop-blur-lg">
    <DesktopNavigation hideBrochure client:load />
    <MobileNavigation hideBrochure client:load />
  </Header>
  <section class="relative">
    <Heading1AndP
      h1andpParentClass="mx-auto px-4 pt-24 sm:pt-32 max-w-6xl"
      pClass="text-center"
      alignment="center-only"
      h1="Brochure"
      p="Learn more about Santienz's polyurethane mortar flooring solutions. Download our brochure for details."
    />
    <LinearGradientMask />
  </section>
  <section class="relative mt-6">
    <div class="flex flex-col items-center justify-center">
      <div class="max-w-6xl grid md:grid-cols-2 gap-1 xmd:gap-4 px-1 xmd:px-4">
        <Image
          src={brochurePage1}
          alt="Santienz Brochure Page 1"
          class="rounded-md border shadow-lg"
          loading="eager"
        />
        <Image
          src={brochurePage2}
          alt="Santienz Brochure Page 2"
          class="rounded-md border shadow-lg"
          loading="eager"
        />
      </div>
      <div class="my-6">
        <CTAButton
          effect="shineHover"
          variant="tertiary"
          link="santienz-brochure.pdf"
          className="shadow-lg"
          target="_blank"
        >
          Download <Download />
        </CTAButton>
      </div>
      <LinearGradientMask
        className="[mask-image:linear-gradient(transparent,transparent,white)]"
      />
    </div>
  </section>
</MainLayout>
