---
import DesktopNavigation from "@/components/DesktopNavigation";
import Header from "@/components/syntax/Header.astro";
import MobileNavigation from "@/components/MobileNavigation";
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";
import grid3dBackground from "@/images/grid_3d.png";
import { EnhancedButton } from "@/components/EnhancedButton";
import { Badge } from "@/components/ui/badge";
import SectionMainHero from "@/components/syntax/sections/SectionMainHero.astro";
import SectionMainHeroOverlay from "@/components/syntax/sections/SectionMainHeroOverlay.astro";
import Grid3DBg from "@/components/Grid3DBg.astro";
import H1AndP from "@/components/syntax/hAndP/H1AndP.astro";
---

<MainLayout
  title="Careers from Satienz Philippines Inc. | No.1 Polyurethane Mortar Flooring in the Philippines since 1998"
  desc="Join our team at Santienz Philippines Inc. and help us deliver top-quality polyurethane mortar flooring solutions. Explore exciting career opportunities and grow with the No.1 provider in the Philippines since 1998."
>
  <Header className="text-primary-foreground">
    <DesktopNavigation hideCareers client:load />
    <MobileNavigation hideCareers client:load />
  </Header>
  <SectionMainHero>
    <H1AndP
      h="Careers"
      p="Join our team at Santienz Philippines Inc. and help us deliver top-quality polyurethane mortar flooring solutions. Explore exciting career opportunities and grow with the No.1 provider in the Philippines since 1998."
    />
    <SectionMainHeroOverlay>
      <Grid3DBg />
    </SectionMainHeroOverlay>
  </SectionMainHero>

  <section>
    <div class="mx-auto px-4 max-w-6xl space-y-1 -mt-20">
      <div class="bg-primary/10 rounded-xl p-4 flex flex-col gap-4">
        <div class="space-y-2">
          <h2 class="font-bold text-4xl text-primary">Job Name</h2>
          <p class="text-muted-foreground">Santienz Philippines Inc.</p>
          <div class="flex flex-wrap gap-1">
            <Badge>Remote</Badge>
            <Badge>Technical Department</Badge>
            <Badge>Head Office</Badge>
          </div>
        </div>
        <p class="text-muted-foreground">
          Sample Job Description. Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Facilis necessitatibus animi architecto.
        </p>
        <EnhancedButton
          className="ml-auto mr-0"
          effect="shineHover"
          variant="tertiary">Apply Now</EnhancedButton
        >
      </div>
      <div class="bg-primary/10 rounded-xl p-4 flex flex-col gap-4">
        <div class="space-y-2">
          <h2 class="font-bold text-4xl text-primary">Another Job Name</h2>
          <p class="text-muted-foreground">Santienz Philippines Inc.</p>
          <div class="flex flex-wrap gap-1">
            <Badge>On-Site</Badge>
            <Badge>Sales Department</Badge>
            <Badge>Davao Office</Badge>
          </div>
        </div>
        <p class="text-muted-foreground">
          Sample Job Description. Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Facilis necessitatibus animi architecto.
        </p>
        <EnhancedButton
          className="ml-auto mr-0"
          effect="shineHover"
          variant="tertiary">Apply Now</EnhancedButton
        >
      </div>
      <div class="bg-primary/10 rounded-xl p-4 flex flex-col gap-4">
        <div class="space-y-2">
          <h2 class="font-bold text-4xl text-primary">Third Job Name</h2>
          <p class="text-muted-foreground">Santienz Philippines Inc.</p>
          <div class="flex flex-wrap gap-1">
            <Badge>On-Site</Badge>
            <Badge>IT Department</Badge>
            <Badge>Head Office</Badge>
          </div>
        </div>
        <p class="text-muted-foreground">
          Sample Job Description. Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Facilis necessitatibus animi architecto.
        </p>
        <EnhancedButton
          className="ml-auto mr-0"
          effect="shineHover"
          variant="tertiary">Apply Now</EnhancedButton
        >
      </div>
      <div class="bg-primary/10 rounded-xl p-4 flex flex-col gap-4">
        <div class="space-y-2">
          <h2 class="font-bold text-4xl text-primary">Last Job Name</h2>
          <p class="text-muted-foreground">Santienz Philippines Inc.</p>
          <div class="flex flex-wrap gap-1">
            <Badge>Remote</Badge>
            <Badge>Marketing Department</Badge>
            <Badge>Cebu Office</Badge>
          </div>
        </div>
        <p class="text-muted-foreground">
          Sample Job Description. Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Facilis necessitatibus animi architecto.
        </p>
        <EnhancedButton
          className="ml-auto mr-0"
          effect="shineHover"
          variant="tertiary">Apply Now</EnhancedButton
        >
      </div>
    </div>
  </section>
</MainLayout>
<script is:inline>
  window.addEventListener("scroll", () => {
    const heroHeight = document.getElementById("main-hero")?.clientHeight + 124;

    if (window.scrollY > heroHeight * 0.75) {
      document
        .getElementById("landing-page-header")
        ?.classList.add("active-header");
      document
        .getElementById("header-burger-icon")
        ?.classList.add("active-header-burger-icon");
      Array.from(document.getElementsByClassName("header-links")).forEach(
        (el) => {
          el.classList.add("active-header-links");
        },
      );
    } else {
      document
        .getElementById("landing-page-header")
        ?.classList.remove("active-header");
      document
        .getElementById("header-burger-icon")
        ?.classList.remove("active-header-burger-icon");
      Array.from(document.getElementsByClassName("header-links")).forEach(
        (el) => {
          el.classList.remove("active-header-links");
        },
      );
    }
  });
</script>
