---
import DesktopNavigation from "@/components/DesktopNavigation";
import Header from "@/components/syntax/Header.astro";
import MobileNavigation from "@/components/MobileNavigation";
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";
import grid3dBackground from "@/images/grid_3d.png";
import { EnhancedButton } from "@/components/EnhancedButton";
import { Badge } from "@/components/ui/badge";
import SectionMainHero from "@/components/syntax/sections/SectionMainHero.astro";
import SectionMainHeroOverlay from "@/components/syntax/sections/SectionMainHeroOverlay.astro";
import Grid3DBg from "@/components/Grid3DBg.astro";
import H1AndP from "@/components/syntax/hAndP/H1AndP.astro";
---

<MainLayout
  title="Careers at Santienz Phils. Inc."
  desc="Join our team at Santienz Phils. Inc. and help us deliver top-quality polyurethane mortar flooring solutions. Explore exciting career opportunities and grow with the No.1 provider in the Philippines since 1998."
>
  <Header className="text-primary-foreground">
    <DesktopNavigation hideCareers client:load />
    <MobileNavigation hideCareers client:load />
  </Header>
  <SectionMainHero>
    <H1AndP
      h="Careers"
      p="Join our team at Santienz Phils. Inc. and help us deliver top-quality polyurethane mortar flooring solutions. Explore exciting career opportunities and grow with the No.1 provider in the Philippines since 1998."
      pClassName="text-left indent-8"
    />
    <SectionMainHeroOverlay>
      <Grid3DBg />
    </SectionMainHeroOverlay>
  </SectionMainHero>
  <div
    class="mx-auto xmd:px-4 max-w-6xl space-y-1 xmd:space-y-4 -mt-23 xmd:-mt-20 not-xmd:mb-1"
  >
    {
      Array.from({ length: 4 }).map(() => (
        <div class="bg-primary/10 xmd:rounded-xl p-4 flex flex-col gap-4">
          <div class="space-y-2">
            <h2 class="font-bold text-4xl text-primary">Job Name</h2>
            <p class="text-muted-foreground">Santienz Phils. Inc.</p>
            <div class="flex flex-wrap gap-1">
              <Badge>Remote</Badge>
              <Badge>Technical Department</Badge>
              <Badge>Head Office</Badge>
            </div>
          </div>
          <p class="text-muted-foreground">
            Sample Job Description. Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Facilis necessitatibus animi architecto.
          </p>
          <EnhancedButton
            className="ml-auto mr-0"
            effect="shineHover"
            variant="tertiary"
          >
            Apply Now
          </EnhancedButton>
        </div>
      ))
    }
  </div>
</MainLayout>
