---
import { BiLogoGmail } from "react-icons/bi";
import { FaFacebookF, FaViber } from "react-icons/fa";
import ContactForm from "@/components/ContactForm";
import DesktopNavigation from "@/components/DesktopNavigation";
import MobileNavigation from "@/components/MobileNavigation";
import Header from "@/components/syntax/Header.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import Heading1AndP from "@/components/syntax/Heading1AndP.astro";
---

<MainLayout
  title="Contact Santienz Phils. Inc."
  desc="Contact Santienz Phils. Inc. for expert polyurethane mortar flooring solutions and a free quote. "
  hideCTACard
>
  <Header className="text-primary backdrop-blur-lg">
    <DesktopNavigation hideCTA client:load />
    <MobileNavigation hideCTA client:load />
  </Header>
  <section
    class="grid grid-cols-1 grid-rows-1 lg:grid-cols-2 lg:grid-rows-2 px-4 pt-24 sm:pt-32 max-w-6xl mx-auto gap-y-4 gap-x-16 pb-6"
  >
    <Heading1AndP
      h1="Let’s Work Together"
      p="Contact Santienz Phils. Inc. for expert polyurethane mortar flooring solutions and a free quote. Serving the Philippines since 1998."
      withCta={false}
      h1andpParentClass="flex flex-col items-center lg:items-start gap-4 flex-1 col-start-1"
      alignment="left-only"
    />

    <ContactForm
      client:load
      className="flex flex-col gap-2 flex-1 mt-4 lg:mt-0 row-start-2 lg:row-start-1 col-start-1 lg:col-start-2 row-span-2"
    />
    <div
      class="text-primary flex justify-center lg:justify-start gap-4 text-2xl col-span-1 lg:col-span-2 mt-0 border-t pt-4"
    >
      <a href="https://facebook.com/@santienz.hr" target="_blank">
        <FaFacebookF />
      </a>
      <FaViber />
      <a
        href="https://mail.google.com/mail/?view=cm&fs=1&to=santienz@gmail.com"
        target="_blank"
      >
        <BiLogoGmail />
      </a>
    </div>
  </section>
</MainLayout>
