---
import Header from "@/components/Header.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { BiLogoGmail } from "react-icons/bi";
import { FaFacebookF, FaViber } from "react-icons/fa";
import ContactForm from "@/components/ContactForm";
---

<MainLayout
  title="Contact Santienz Philippines Inc. | No.1 Polyurethane Mortar Flooring in the Philippines since 1998"
  desc="Contact Santienz Philippines Inc. for expert polyurethane mortar flooring solutions and a free quote. "
>
  <Header showCTA={false} className="text-primary backdrop-blur-lg" />
  <section
    class="grid grid-cols-1 grid-rows-1 lg:grid-cols-2 lg:grid-rows-2 px-4 pt-24 sm:pt-32 max-w-6xl mx-auto gap-y-4 gap-x-32"
  >
    <div
      class="flex flex-col items-center lg:items-start gap-4 flex-1 col-start-1"
    >
      <h1
        class="font-bold text-4xl text-center md:text-6xl lg:text-4xl text-primary leading-tight"
      >
        Let’s Work Together
      </h1>
      <p class="text-muted-foreground text-center lg:text-left">
        Contact Santienz Philippines Inc. for expert polyurethane mortar
        flooring solutions and a free quote. Serving the Philippines since 1998.
      </p>
    </div>
    <div
      class="text-primary flex justify-center lg:justify-start gap-4 text-2xl col-start-1 mb-0 mt-auto border-t pt-4"
    >
      <a href="https://facebook.com/@santienz.hr" target="_blank">
        <FaFacebookF />
      </a>
      <FaViber />
      <a
        href="https://mail.google.com/mail/?view=cm&fs=1&to=santienz@gmail.com"
        target="_blank"
      >
        <BiLogoGmail />
      </a>
    </div>
    <ContactForm
      client:load
      className="flex flex-col gap-2 flex-1 mt-4 lg:mt-0 row-start-2 lg:row-start-1 col-start-1 lg:col-start-2 row-span-2"
    />
  </section>
</MainLayout>

<!-- <script is:inline src="https://web3forms.com/client/script.js" async defer
></script>
<script is:inline>
  const form = document.getElementById("form");
  const result = document.getElementById("result");
  form.addEventListener("submit", function (e) {
    const formData = new FormData(form);
    e.preventDefault();
    const hCaptcha = form.querySelector(
      "textarea[name=h-captcha-response]",
    ).value;

    if (!hCaptcha) {
      e.preventDefault();
      alert("Please fill out captcha field");
      return;
    }

    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    result.innerHTML = "Please wait...";

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.innerHTML = json.message;
        } else {
          console.log(response);
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = "Something went wrong!";
      })
      .then(function () {
        form.reset();
        setTimeout(() => {
          result.style.display = "none";
        }, 3000);
      });
  });
</script> -->
