---
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { Textarea } from "@/components/ui/textarea";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout
  title="Contact Us | Santienz Philippines Inc."
  desc="No.1 Polyurethane Mortar Flooring in the Philippines since 1998"
>
  <section class="space-y-4 text-center px-4">
    <h1 class="font-bold text-4xl sm:text-6xl text-primary text-center">
      Get In Touch With Us
    </h1>
    <p class="text-muted-foreground">
      Ask for a sample quotation, site visit, and more.
    </p>
    <form method="post" id="form" class="space-y-4 max-w-6xl mx-auto">
      <input
        type="hidden"
        name="access_key"
        value="2a0f720e-40d0-4d83-9cb3-3310db368d3d"
      />
      <input
        type="checkbox"
        name="botcheck"
        class="hidden"
        style="display: none;"
      />
      <input type="hidden" name="from_name" value="Inquiry" />
      <Input type="text" name="name" placeholder="Name" required />
      <Input type="email" name="email" placeholder="Email" />
      <Input type="text" name="subject" placeholder="Subject" required />
      <Textarea
        name="message"
        placeholder="Message"
        required
        className="min-h-32"
      />
      <Button type="submit" className="float-end">Submit Form</Button>
      <div id="result"></div>
      <div class="h-captcha" data-captcha="true"></div>
    </form>
  </section>
</MainLayout>

<script is:inline src="https://web3forms.com/client/script.js" async defer
></script>
<script is:inline>
  const form = document.getElementById("form");
  const result = document.getElementById("result");

  form.addEventListener("submit", function (e) {
    const formData = new FormData(form);
    e.preventDefault();
    const hCaptcha = form.querySelector(
      "textarea[name=h-captcha-response]",
    ).value;

    if (!hCaptcha) {
      e.preventDefault();
      alert("Please fill out captcha field");
      return;
    }

    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    result.innerHTML = "Please wait...";

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.innerHTML = json.message;
        } else {
          console.log(response);
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = "Something went wrong!";
      })
      .then(function () {
        form.reset();
        setTimeout(() => {
          result.style.display = "none";
        }, 3000);
      });
  });
</script>
