---
import Header from "@/components/Header.astro";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout
  title="Products offered by Santienz Philippines Inc. | No.1 Polyurethane Mortar Flooring in the Philippines since 1998"
  desc="No.1 Polyurethane Mortar Flooring in the Philippines since 1998"
>
  <Header showCTA className="text-primary backdrop-blur-lg" />
  <section
    class="flex flex-col items-center justify-center h-fit pt-24 sm:pt-32 space-y-8"
  >
    <div
      class="flex flex-col items-center gap-4 flex-1 col-start-1 max-w-6xl px-4"
    >
      <h1
        class="font-bold text-4xl text-center md:text-4xl lg:text-6xl text-primary"
      >
        Products offered by Santinez Philippines Inc.
      </h1>
      <p class="text-muted-foreground text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
        delectus deserunt doloremque.
      </p>
    </div>
  </section>
</MainLayout>
