---
export const prerender = false;
import DesktopNavigation from '@/components/DesktopNavigation';
import LinearGradientMask from '@/components/LinearGradientMask.astro';
import MobileNavigation from '@/components/MobileNavigation';
import Product from '@/components/Product.astro';
import Header from '@/components/syntax/Header.astro';
import Heading1AndP from '@/components/syntax/Heading1AndP.astro';
import { supabase } from '@/db/supabase';
import MainLayout from '@/layouts/MainLayout.astro';

const products = await supabase
  .from('products')
  .select('description, id, imgs, name, highlights')
  .order('name');
---

<MainLayout
  title="Products of Santienz Phils. Inc."
  desc="Discover our range of high-quality industrial flooring and waterproofing solutions designed for durability and performance."
>
  <Header className="text-primary backdrop-blur-lg">
    <DesktopNavigation hideProducts client:load />
    <MobileNavigation hideProducts client:load />
  </Header>
  <section class="relative">
    <Heading1AndP
      h1andpParentClass="mx-auto px-4 pt-24 sm:pt-32 max-w-6xl"
      h1="Products"
      p="Explore the featured projects of Santienz Phils. Inc. showcasing high-quality polyurethane mortar flooring and other projects completed across the Philippines since 1998."
      alignment="center-only"
      withCta={false}
    />
    <LinearGradientMask />
  </section>
  <div class="space-y-32">
    {
      products.data?.map((product, i) => {
        if (i === products.data?.length - 1)
          return (
            <div class="relative">
              <Product product={product} />

              <LinearGradientMask className="[mask-image:linear-gradient(transparent,white)]" />
            </div>
          );
        return <Product product={product} />;
      })
    }
  </div>
</MainLayout>
