---
import DesktopNavigation from "@/components/DesktopNavigation";
import Header from "@/components/syntax/Header.astro";
import MobileNavigation from "@/components/MobileNavigation";
import MainLayout from "@/layouts/MainLayout.astro";
import { EnhancedButton } from "@/components/EnhancedButton";
import { Star, User2 } from "lucide-react";
import { Textarea } from "@/components/ui/textarea";
import { Input } from "@/components/ui/input";
import StarsRatingInput from "@/components/StarsRatingInput";
import SectionMainHero from "@/components/syntax/sections/SectionMainHero.astro";
import H1AndP from "@/components/syntax/hAndP/H1AndP.astro";
import SectionMainHeroOverlay from "@/components/syntax/sections/SectionMainHeroOverlay.astro";
import Grid3DBg from "@/components/Grid3DBg.astro";
---

<MainLayout
  title="Testimonials"
  desc="Hear from our satisfied clients about their experiences with Santienz Phils. Inc. and the quality of our polyurethane mortar flooring solutions."
>
  <Header className="text-primary-foreground">
    <DesktopNavigation hideTestimonials client:load />
    <MobileNavigation hideTestimonials client:load />
  </Header>
  <SectionMainHero>
    <H1AndP
      h="Testimonials"
      p="Hear from our satisfied clients about their experiences with Santienz Phils. Inc. and the quality of our polyurethane mortar flooring solutions."
      pClassName="text-left indent-8"
    />
    <SectionMainHeroOverlay>
      <Grid3DBg />
    </SectionMainHeroOverlay>
  </SectionMainHero>
  <section
    class="mx-auto xmd:px-4 max-w-6xl space-y-1 xmd:space-y-4 -mt-23 xmd:-mt-20"
  >
    <div class="bg-primary/10 xmd:rounded-xl p-4 flex flex-col gap-4">
      <div class="space-y-2">
        <div class="text-primary flex gap-2 items-center">
          <User2 className="size-6" />
          <h2 class="font-semibold text-2xl">Client Name</h2>
        </div>
        <p class="text-muted-foreground text-sm">
          {new Date().toLocaleDateString()}
        </p>
        <div class="flex flex-wrap gap-1">
          {
            Array.from({ length: 5 }).map((_, i) => (
              <Star className="text-tertiary fill-tertiary/50" />
            ))
          }
        </div>
      </div>
      <p class="text-muted-foreground">
        Sample review of the client. Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Deserunt asperiores eligendi quis assumenda quaerat
        dolorem dignissimos voluptate, mollitia ea! Laboriosam a laudantium
        minus veniam!
      </p>
    </div>
    <div class="bg-primary/10 xmd:rounded-xl p-4 flex flex-col gap-4">
      <div class="space-y-2">
        <div class="text-primary flex gap-2 items-center">
          <User2 className="size-6" />
          <h2 class="font-semibold text-2xl">Client Name</h2>
        </div>
        <p class="text-muted-foreground text-sm">
          {new Date().toLocaleDateString()}
        </p>
        <div class="flex flex-wrap gap-1">
          {
            Array.from({ length: 5 }).map((_, i) => (
              <Star className="text-tertiary fill-tertiary/50" />
            ))
          }
        </div>
      </div>
      <p class="text-muted-foreground">
        Sample review of the client. Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Deserunt asperiores eligendi quis assumenda quaerat
        dolorem dignissimos voluptate, mollitia ea! Laboriosam a laudantium
        minus veniam!
      </p>
    </div>
    <div class="bg-primary/10 xmd:rounded-xl p-4 flex flex-col gap-4">
      <div class="space-y-2">
        <div class="text-primary flex gap-2 items-center">
          <User2 className="size-6" />
          <h2 class="font-semibold text-2xl">Client Name</h2>
        </div>
        <p class="text-muted-foreground text-sm">
          {new Date().toLocaleDateString()}
        </p>
        <div class="flex flex-wrap gap-1">
          {
            Array.from({ length: 5 }).map((_, i) => (
              <Star className="text-tertiary fill-tertiary/50" />
            ))
          }
        </div>
      </div>
      <p class="text-muted-foreground">
        Sample review of the client. Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Deserunt asperiores eligendi quis assumenda quaerat
        dolorem dignissimos voluptate, mollitia ea! Laboriosam a laudantium
        minus veniam!
      </p>
    </div>
    <div class="bg-primary/10 xmd:rounded-xl p-4 flex flex-col gap-4">
      <div class="space-y-2">
        <div class="text-primary flex gap-2 items-center">
          <User2 className="size-6" />
          <h2 class="font-semibold text-2xl">Client Name</h2>
        </div>
        <p class="text-muted-foreground text-sm">
          {new Date().toLocaleDateString()}
        </p>
        <div class="flex flex-wrap gap-1">
          {
            Array.from({ length: 5 }).map((_, i) => (
              <Star className="text-tertiary fill-tertiary/50" />
            ))
          }
        </div>
      </div>
      <p class="text-muted-foreground">
        Sample review of the client. Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Deserunt asperiores eligendi quis assumenda quaerat
        dolorem dignissimos voluptate, mollitia ea! Laboriosam a laudantium
        minus veniam!
      </p>
    </div>
  </section>
  <section class="max-w-6xl px-4 space-y-4 mx-auto text-center">
    <h3 class="font-bold text-4xl text-primary">Are You A Satisfied Client?</h3>
    <p class="text-muted-foreground">
      Share your experience with us! If you have completed a project with
      Santienz Phils. Inc., you may submit your testimonial for possible
      inclusion on this page (subject to approval).
    </p>
    <div class="flex flex-col gap-4">
      <StarsRatingInput client:load />
      <Input placeholder="Company/Client Name" />
      <Textarea placeholder="Message" />
      <EnhancedButton effect="shineHover" className="mx-auto">
        Submit Review
      </EnhancedButton>
    </div>
  </section>
</MainLayout>
