---
import CTAButton from '@/components/CTAButton';
---

<section class="bg-tertiary/20 mb-1 space-y-8">
  <div class="mx-auto max-w-6xl space-y-4 px-4 py-16 text-center">
    <h2 class="text-tertiary text-4xl font-bold">Ready to Build Your Vision?</h2>
    <p class="text-muted-foreground">
      Let's discuss your next construction project and bring your ideas to life with our expertise
      and dedication.
    </p>
    <CTAButton className="shadow-lg" effect="shineHover" variant="tertiary" link="/contact-us">
      Contact Us
    </CTAButton>
  </div>
</section>
