---
import Logo from "./Logo.astro";
import DesktopNavigation from "./DesktopNavigation";
import MobileNavigation from "./MobileNavigation";
import { cn } from "@/lib/utils";
interface Props {
  showCTA: boolean;
  className?: string;
}
const { showCTA, className } = Astro.props;
---

<header
  id="landing-page-header"
  class={cn("fixed top-0 z-50 w-full bg-transparent duration-300", className)}
>
  <div class="mx-auto flex max-w-6xl items-center justify-between gap-4 p-4">
    <a href="/">
      <div class="flex items-center space-x-2">
        <Logo style="w-14" />
        <span class="header-links font-semibold text-base"
          >Santienz Philippines Inc.
        </span>
      </div>
    </a>
    <DesktopNavigation showCTA={showCTA} client:load />
    <MobileNavigation client:load />
  </div>
</header>
