---
import { TableIcon } from "lucide-react";
import CTAButton from "@/components/CTAButton";
import DesktopNavigation from "@/components/DesktopNavigation";
import MobileNavigation from "@/components/MobileNavigation";
import ProjectsMapper from "@/components/ProjectsMapper.astro";
import SearchBar from "@/components/SearchBar.astro";
import Header from "@/components/syntax/Header.astro";
import { supabase } from "@/db/supabase";
import MainLayout from "@/layouts/MainLayout.astro";
import LinearGradientMask from "@/components/LinearGradientMask.astro";
import Heading1AndP from "@/components/syntax/Heading1AndP.astro";
export const prerender = false;
const query = Astro.url.searchParams.get("query");
const projects = await supabase
  .from("projects")
  .select()
  .order("title", { ascending: true })
  .ilike("title", `%${query ?? ""}%`);
---

<MainLayout
  title="Featured Projects of Santienz Phils. Inc."
  desc="Explore the featured projects of Santienz Phils. Inc. showcasing high-quality polyurethane mortar flooring and other projects completed across the Philippines since 1998."
>
  <Header className="text-primary backdrop-blur-lg">
    <DesktopNavigation hideProjects client:load />
    <MobileNavigation hideProjects client:load />
  </Header>
  <section class="relative">
    <Heading1AndP
      parentClass="mx-auto px-4 pt-24 sm:pt-32 max-w-6xl"
      h1="Featured Projects"
      p="Explore the featured projects of Santienz Phils. Inc. showcasing high-quality polyurethane mortar flooring and other projects completed across the Philippines since 1998."
      withCta
      alignment="center-only"
    >
      <CTAButton
        className="px-12 z-20"
        variant="tertiary"
        effect="shineHover"
        link="/projects/table"
      >
        See All Projects in Table View <TableIcon />
      </CTAButton>
    </Heading1AndP>
    <LinearGradientMask />
  </section>
  <div class="relative mt-6">
    {
      projects.data ? (
        <div class="space-y-6 mx-auto max-w-6xl px-1 xmd:px-4">
          <SearchBar />
          <div
            class={`grid grid-cols-1 xxs:grid-cols-2 auto-rows-fr gap-1 xmd:gap-4 w-full`}
          >
            <ProjectsMapper projects={projects.data} />
          </div>
        </div>
      ) : null
    }
    <div class="max-w-6xl mx-auto w-fit scroll-pt-64 py-6">
      <CTAButton variant="tertiary" effect="shineHover" link="/projects/table">
        See All Projects in Table View <TableIcon />
      </CTAButton>
    </div>
    <LinearGradientMask
      className="[mask-image:linear-gradient(transparent,white)]"
    />
  </div>
</MainLayout>
