---
import DesktopNavigation from "@/components/DesktopNavigation";
import Header from "@/components/syntax/Header.astro";
import MobileNavigation from "@/components/MobileNavigation";
import MainLayout from "@/layouts/MainLayout.astro";
import SectionMainHero from "@/components/syntax/sections/SectionMainHero.astro";
import SectionMainHeroOverlay from "@/components/syntax/sections/SectionMainHeroOverlay.astro";
import H1AndP from "@/components/syntax/hAndP/H1AndP.astro";
import Grid3DBg from "@/components/Grid3DBg.astro";
import SearchBar from "@/components/SearchBar.astro";
import { PROJECT_INFO } from "@/lib/projects-info";
import { Image } from "astro:assets";
import ProjectsMapper from "@/components/ProjectsMapper";
---

<MainLayout
  title="Projects of Satienz Philippines Inc. | No.1 Polyurethane Mortar Flooring in the Philippines since 1998"
  desc="Explore the projects of Santienz Philippines Inc. showcasing high-quality polyurethane mortar flooring and other projects completed across the Philippines since 1998."
>
  <Header className="text-primary-foreground">
    <DesktopNavigation hideProjects client:load />
    <MobileNavigation hideProjects client:load />
  </Header>
  <SectionMainHero>
    <H1AndP
      h="Projects"
      p="Explore the projects of Santienz Philippines Inc. showcasing high-quality polyurethane mortar flooring and other projects completed across the Philippines since 1998."
      pClassName="text-justify indent-8"
    />
    <SectionMainHeroOverlay>
      <Grid3DBg />
    </SectionMainHeroOverlay>
  </SectionMainHero>
  <SearchBar />
  <div
    class="grid grid-cols-1 sm:grid-cols-2 gap-1 xmd:gap-4 max-w-6xl mx-auto px-1 xmd:px-4 w-full -mt-10 not-xmd:mb-1"
  >
    <ProjectsMapper client:load />
  </div>
</MainLayout>
