---
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section
  id="main-hero"
  class={cn(
    "relative w-full overflow-hidden bg-primary pt-20 xmd:pt-30 pb-4 space-y-4",
    className,
  )}
>
  <slot />
</section>
