---
import { cn } from "@/lib/utils";
import H1 from "./H1.astro";
import { Input } from "@/components/ui/input";

interface Props {
  h: string;
  p: string;
  pClassName?: string;
  hClassName?: string;
}
const { h, p, pClassName, hClassName } = Astro.props;
---

<div class="max-w-6xl px-4 space-y-4 mx-auto">
  <H1 h={h} className={hClassName} />
  <p
    class={cn(
      "text-primary-foreground relative z-20 drop-shadow-lg text-center leading-tight",
      pClassName,
    )}
  >
    {p}
  </p>
  <slot />
</div>
