---
import { cn } from "@/lib/utils";
import H2 from "./H2.astro";

interface Props {
  h: string;
  p: string;
  hClassName?: string;
  pClassName?: string;
}
const { h, p, hClassName, pClassName } = Astro.props;
---

<div
  class={cn(
    "mx-auto max-w-6xl space-y-2 px-4 text-left xmd:text-center",
    hClassName,
  )}
>
  <H2 h={h} />
  <p class={cn("text-muted-foreground", pClassName)}>
    {p}
  </p>
  <slot />
</div>
